html, body{
	margin: 0;
	padding: 0;
	background: #eee;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	color: inherit;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

a {
	color: inherit;
	text-decoration: none;
}

#header {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 70px;
	background: #1992f5;
	color: #fff;
	z-index: 100;
}

#header2 {
	position: fixed;
	top: 70px;
	width: 100%;
	height: 50px;
	background: #167f65;
	color: #fff;
	z-index: 100;
}

#login_header {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 25vh;
	background: #1992f5;
	color: #ffffff;
	z-index: 100;
}


#logo {
	position: relative;
	float: left;
	width: 300px;
	padding: 20px;
}

#login_logo{
	width: 500px;
	font-family: "Courier New", Courier, monospace;
	font-size: 6em;
	font-weight: 700;
	text-align: center;
	margin: 5vh auto;
}

#login{
	width:60vh;
	margin: 30vh auto;
	border: 10px solid #1992f5;
	border-radius: 25px;
	text-align: center;
}

#login p{
	margin: 3em;
}

#login h2{
	margin-top: 3em;
	margin-bottom: 1em;
}

#login h2 a{
	margin: 4px auto;
	border: 2px solid #000000;
	border-radius: 10px;
	background-color: #1992f5;
	color: #ffffff;
	cursor: pointer;
}

#nav {
	text-align: center;
	width: 700px;
	margin: auto;
}

#nav ul li {
	height: 30px;
	padding: 5px;
	padding-top: 10px;
	border-radius: 5px;
	display: inline-block;
	margin-right: 10px;
	-moz-transition: background-color 0.35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out;
	-o-transition: background-color 0.35s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out;
	transition: background-color 0.35s ease-in-out;
}

#nav ul li a {
	-moz-transition: background-color 0.35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out;
	-o-transition: background-color 0.35s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out;
	transition: background-color 0.35s ease-in-out;
	display: inline-block;
	color: #ddd;
	color: rgba(255, 255, 255, 0.75);
	text-decoration: none;
}

#nav ul li a:hover {
	color: #fff;
}

{
     width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

#wrapper{
	height: 60%;
	max-height: 60%;
	width: 60%;
	margin: 0px auto;
	margin-top: 90px;
}

#jqte_test{
	height: 2000px;
	width: 100%;
}


#about{
	margin-top: 90px;
}

#saveButton{
	position: absolute;
	top: 90px;
	right: 80px;
	width: 10%;
  border-radius: 3px;
  height: 45px;
  padding-top: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: #1992f5;
  color: #ffffff;
   font-family: 'Roboto', 'Helvetica', 'Arial', 'Sans Serif';
   text-align: center;
   font-size: 30px;
}

#saveButton:hover{
	background-color: #199fff;
	-moz-transition: background-color 0.35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out;
	-o-transition: background-color 0.35s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out;
	transition: background-color 0.35s ease-in-out;
	
}

.noteListWrapper{
	width: 700px;
	margin: 90px auto;
}

.myNotes{
	float: right;
	width: 700px;
	margin-top: 90px;
}

.followedNotes{
	float: left;
	width: 700px;
	margin-top: 90px;
}

.noteList{
	list-style-type: none;
}

.splitDivRight{
	float:left;
	width:50%;
}

.splitDivLeft{
	float: left;
	width: 50%;
}

.splitDivRight h2{
	text-align: center;
}

.splitDivLeft h2{
	text-align: center;
}

.oneNote{
	border: 1px solid #1992f5;
	padding: 10px;
	overflow: auto;
	background: #8ecafa;
}


#searchWrap{
  position: absolute;
  width: 300px;
  height: 30px;
  top: 10px;
  right: 20px;
}

#search{
  width: 200px;
  height: 30px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  color: #63717f;
  padding-left: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.oneNote h3{
	display: inline-block;
}

.oneNote span{
	float: right;
}

.oneNote img{
	float: left;
	height: 100px;
	width: 100px;
	margin: 0 15px 0 0;
}

.oneNote .desc{
	font: 200 16px/1.5 Georgia, Times New Roman, serif;
}

.oneNote .auth{
	color: #4A4A4A;
	display: inline;
}

.oneNote:hover{
	background: #eee;
	cursor: pointer;
}


.noteDate{
	position: relative;
	float: left;
	margin: 4px;
}

.active{
	background: #8ecafa;
	color: #000000;
	font-style: bold;
}

#noteContainer{
	margin-top: 70px;
}

input, button{
	margin: 10px;
}


#about{
	margin: 90px auto;
	width: 60%;
	height: 700px;
	padding: 20px;
	background: #8ecafa;
	border-radius: 10px;
	color: #000000;
}

#bottomRow{
	width: 50%;
}

#saveOptions{
	position:absolute;
	background: #1992f5;
	border-radius: 3px;
	top: 160px;
	right:30px;
	height: 200px;
	width: 300px;
	text-align: center;
	display: none;
}

#checkLogin{
	margin: 150px auto;
}

