html, body{
	margin: 0;
	padding: 0;
	background: #424242;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	color: inherit;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

a {
	color: inherit;
	text-decoration: none;
}

#header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 75%;
	min-width: 1024px;
	margin: 0 auto;
	margin-top: 10px;
	height: 70px;
	background: #1a1a1a;
	color: #fff;
	border-radius: 20px;
	border: 2px solid white;
	z-index: 100;
}

#header2 {
	position: fixed;
	top: 70px;
	width: 100%;
	height: 50px;
	background: #167f65;
	color: #fff;
	z-index: 100;
}

#login_header {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 25vh;
	background: #1a1a1a;
	color: #ffffff;
	z-index: 100;
}


#logo {
	position: relative;
	float: left;
	width: 140px;
	padding: 20px;
}

#login_logo{
	width: 27vw;
	font-family: "Courier New", Courier, monospace;
	font-size: 6em;
	font-weight: 700;
	text-align: center;
	margin: 5vh auto;
}

#login{
	width:60vh;
	margin: 30vh auto;
	border: 2px solid white;
	border-radius: 25px;
	text-align: center;
}

#login p{
	margin: 3em;
}

#login h2{
	margin-top: 3em;
	margin-bottom: 1em;
}

#login h2 a{
	margin: 4px auto;
	border: 2px solid #000000;
	border-radius: 10px;
	background-color: #1a1a1a;
	padding: 0.5em;
	color: #ffffff;
	cursor: pointer;
}

#nav {
	text-align: center;
	width: 820px;
	margin: auto;
}

#nav ul li {
	height: 30px;
	padding: 5px;
	padding-top: 10px;
	border-radius: 5px;
	display: inline-block;
	-moz-transition: background-color 0.35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out;
	-o-transition: background-color 0.35s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out;
	transition: background-color 0.35s ease-in-out;
}

#nav ul li a {
	-moz-transition: background-color 0.35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out;
	-o-transition: background-color 0.35s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out;
	transition: background-color 0.35s ease-in-out;
	display: inline-block;
	color: #ddd;
	color: rgba(255, 255, 255, 0.75);
	text-decoration: none;
	font-size: 0.9em;
}

#nav ul li a:hover {
	color: #fff;
}

{
     width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

#wrapper{
	width: 80%;
	padding: 1%;
	display: inline-block;
}

#jqte_test{
	margin: 0;
	padding: 0;
}


#about{
	margin-top: 90px;
}

#saveButton{
	width: 100%;
	text-align: center;
	font-size: 0.9em;
	border: 1px solid white;
	border-radius: 3px;
	height: 30px;
	text-align: center;
	margin-top: 15%;
	cursor: pointer;
}

#saveButton h3{
	color: #ffffff;
	margin-top: 3%;
}

#save_wrap{
	float: right;
	display: inline-block;
	width: 15%;
	padding: 1%;
}

#saveButton:hover{
	background-color: #424242;
	-moz-transition: background-color 0.35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out;
	-o-transition: background-color 0.35s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out;
	transition: background-color 0.35s ease-in-out;
}

.noteListWrapper{
	width: 60%;
	display:inline-table;
}

.myNotes{
	list-style-type: none;
}

.followedNotes{
	list-style-type: none;
}

.noteList{
	list-style-type: none;
	padding: 1%;
}

.splitDivRight{
	width:48%;
	display: inline-table;
}

.splitDivLeft{
	width: 48%;
	display: inline-table;
}

.myNoteList{
list-style-type: none;
	width: 98%;
	padding: 1%;
}

.savedNoteList{
list-style-type: none;
	width: 98%;
	padding: 1%;
}

.splitDivRight h2{
	text-align: center;
	color: #ffffff;
	margin-top: 10px;
}

.splitDivLeft h2{
	text-align: center;
	color: #ffffff;
	margin-top: 10px;
}

.oneNote{
	border: 1px solid white;
	padding: 10px;
	overflow: auto;
	background: #424242;
	margin-bottom: 5px;
	border-radius: 10px;
}


#searchWrap{
display:inline-table;
  width: 30%;
  height: 10%;
}

#search{
  width: 60%;
  height: 100%;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  color: #63717f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.oneNote h3{
	margin-left: 10px;
	display: inline-block;
	cursor: pointer;
}

.oneNote span{
	float: right;
}

.oneNote h4{
	display: inline-block;
	cursor: pointer;
	border: 1px solid black;
	padding: 2px;
	
	color: #000000;
}

.oneNote img{
	float: left;
	height: 100px;
	width: 100px;
	margin: 0 15px 0 0;
}

.oneNote .desc{
	font: 200 16px/1.5 Georgia, Times New Roman, serif;
}

.oneNote .auth{
	color: #000000;
	display: inline;
}

.oneNote:hover{
	background: #ffffff;
}


.noteDate{
	position: relative;
	float: left;
	margin: 4px;
}

.active{
	background: #424242;
	color: #000000;
	font-style: bold;
	border: 1px solid white;
}


input, button{
	margin: 10px;
}


#container{
	margin: 0 auto;
	margin-top: 90px;
	width: 75%;
	min-width: 1024px;
	height: 100%;
	background: #1a1a1a;
	border-radius: 10px;
	border: 1px solid white;
	color: #000000;
}

#about_wrapper{
	width:98%;
	height:98%;
	padding:1%;
	color: #ffffff;
}

.about_img{
	max-width: 100%;
}

#bottomRow{
	width: 50%;
}

#saveOptions{
	background: #424242;
	border-radius: 3px;
	height: 100%;
	width: 100%;
	text-align: center;
	display: none;
}

#saveOptions input{
	width: 90%;
}

#saveOptions textarea{
	width: 90%;
}

#checkLogin{
	margin: 150px auto;
}

.unFollowed{
	background: #ef743a;
}

